NODE_ENV=development
PORT=5000

# MongoDB
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/car-inspection?retryWrites=true&w=majority
# MONGODB_URI=mongodb://127.0.0.1:27017/hbm-inspection
MONGODB_URI=mongodb+srv://goffood:goffood@cluster0.qlkoag7.mongodb.net/hbm-inspection?retryWrites=true&w=majority&appName=Cluster0

# JWT
JWT_SECRET=yqwertyuioplkjhgfdsazxcvbnm
JWT_EXPIRE=30d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dgaw5qfuo
CLOUDINARY_API_KEY=158843359252879
CLOUDINARY_API_SECRET=7x5P0__FwVm1Dl_nycTYHuyPE3I

# Email (Nodemailer)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=muhammadrehmanmusharafali@gmail.com
EMAIL_PASS=xujddsgknxehaqsa
EMAIL_FROM=muhammadrehmanmusharafali@gmail.com

# Frontend URL
FRONTEND_URL=http://localhost:3000

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100